doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/stylesheets/bootstrap-min.css')
    link(rel='stylesheet', href='/stylesheets/starter-template.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/javascript/bootstrap.min.js')
  body
    block content
