mixin loginForm()
  form.form(action="/login" method="POST")
    .form-group
      input(type="email" name="email" placeholder="Email Address").form-control
    .form-group
      input(type="password" name="password" placeholder="Password").form-control
    .formgroup
      button.btn.btn-success.btn-lg(type="submit" name="Login") Login