mixin registerForm()
  form.form(action="/register" method="POST")
    table.table.table-condensed.table-responsive(style="border: none")
      tr
        td
          label(for="email") Email
        td
          input(type="email" name="email" placeholder="Email Address").form-control
      tr
        td
          label(for="password") Password
        td
          input(type="password" name="password" placeholder="Password").form-control
      tr
        td
          label(for="password-confirm") Password Confirm
        td
          input(type="password" name="password-confirm" placeholder="Confirm Password").form-control
      tr
        td(colspan=2)
          button.btn.btn-success.btn-lg(type="submit" name="Login") Register