mixin todoCard(todo = {})
  .item.col-xs-12.col-sm-4.col-md-4.col-lg-4
    .thumbnail.itemthumbnail
      img(src='../uploads/kkdk.png' alt="akin").group.list-group-image.itemimage
      .caption
        p.group.inner.list-group-item-text.itemtitle.cleafix.text-center Todo Name Here